{% extends 'base.html.twig' %}

{% block title %}Edit Centre{% endblock %}

{% block body %}
    <h1>Edit Centre</h1>

    {{ include('centre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_centre_index') }}">back to list</a>

    {{ include('centre/_delete_form.html.twig') }}
{% endblock %}
