{% extends 'base.html.twig' %}

{% block title %}New Centre{% endblock %}

{% block body %}
    <h1>Create new Centre</h1>

    {{ include('centre/_form.html.twig') }}

    <a href="{{ path('app_centre_index') }}">back to list</a>
{% endblock %}
